.DS_Store
*.swp
.idea
httplog
*.http
.vscode
client/node_modules/*
client/package.json
.env.heroku
.env.local
.env
telegram
vendor/*
client/*
widget/node_modules
widget/node_modules/*
widget/dist/index.html
widget/static
dashboard/*